@model Application.ViewModels.SavePokemonViewModel
@{
    bool isCreated = Model.ID == 0 ? false : true;
    ViewData["Title"] = "Guardar Pokemon";
}


<div class="container-fluid mt-4">
    <div class="row col-6 offset-3">
        <div class="card mt-3">
            <h3 class="card-title mt-3 text-center">@(isCreated ? $"Editando a { Model.Nombre }"   : "Creando nuevo pokemon" )</h3>

            <div class="card-body">
                <form method="post" asp-controller="Pokemon" asp-action="@(isCreated ? "Edit" : "Create")">

                    <input type="hidden" asp-for="ID"  name="ID" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                    <div class="mb-3">
                        <label asp-for="Nombre" class="form-label">Ingrese el nombre del pokemon</label>
                        <input asp-for="Nombre" name="Nombre" type="text" class="form-control">
                    </div>
                    <span asp-validation-for="ImagenUrl" class="text-danger"></span>
                    <div class="mb-3">
                        <label asp-for="ImagenUrl" class="form-label">Agregue una imagen</label>
                        <input asp-for="ImagenUrl" name="ImagenUrl" type="text" class="form-control">
                    </div>
                    <span asp-validation-for="Region" class="text-danger"></span>
                    <div class="mb-3">
                        <select asp-for="Region" name="Region" type="text" class="form-select">
                            <option value="" selected>Selecciona la region del pokemon</option>
                            @foreach (var item in Model.lisregiones)
                            {
                                <option value="@item.ID">@item.Nombre</option>
                            }
                        </select>
                    </div>
                    <span asp-validation-for="TipoPrimario" class="text-danger"></span>
                    <div class="mb-3">
                        <select asp-for="TipoPrimario" name="TipoPrimario" type="text" class="form-select">
                            <option value="" selected>Selecciona el tipo principal del pokemon</option>
                            @foreach (var tipo in Model.listipos)
                            {
                                <option value="@tipo.ID">@tipo.Nombre</option>
                            }
                        </select>
                    </div>
                    <span asp-validation-for="TipoSecundario" class="text-danger"></span>
                    <div class="mb-3">
                        <select asp-for="TipoSecundario" name="TipoSecundario" type="text" class="form-select">
                            <option value="" selected>Selecciona el tipo secundario del pokemon</option>
                            @foreach (var tipo2 in Model.listipos)
                            {
                                <option value="@tipo2.ID">@tipo2.Nombre</option>

                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a asp-controller="Pokemon" asp-action="Index" class="btn btn-warning">Volver</a>

                </form>
            </div>
        </div>
    </div>
</div>